{% extends 'base.html' %} {% block content %}
{% for request in pending_requests %}
    <div>
        <p>{{ request.sender.username }} has sent you a friend request.</p>
        <form action="{{ url_for('requests.accept_friend_request', request_id=request.id) }}" method="POST">
            <button type="submit" class="btn btn-success">Accept</button>
        </form>
        <form action="{{ url_for('requests.reject_friend_request', request_id=request.id) }}" method="POST">
            <button type="submit" class="btn btn-danger">Reject</button>
        </form>
    </div>
{% endfor %}

{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="mb-4">
                    {% for category, message in messages %}
                        <div class="text-white p-3 rounded-lg 
                            {% if category == 'success' %} bg-green-500 
                            {% elif category == 'danger' %} bg-red-500 
                            {% else %} bg-yellow-500 {% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% endblock %}